#
name: Automatic doc checks

on:
  push:
    branches: [ main ]
  pull_request:

  workflow_dispatch:
    # Manual trigger


concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  documentation-checks:
    uses: canonical/documentation-workflows/.github/workflows/documentation-checks.yaml@aaeaf091e8f55145184ad897cb9834f224bd31de
    with:
      working-directory: "."
      fetch-depth: 0
